[submodule "dataModel.OPCUA"]
	path = dataModel.OPCUA
	url = https://github.com/smart-data-models/dataModel.OPCUA.git
[submodule "dataModel.RoboticIndustrialActivities"]
	path = dataModel.RoboticIndustrialActivities
	url = https://github.com/smart-data-models/dataModel.RoboticIndustrialActivities.git
